In [47]:
import sqlite3
!pwd
import pandas as pd

/Users/imamizokai/final_dspro/ds-programming/folder

In [3]:
# ds_programing_final
path = '/Users/imamizokai/final_dspro/ds-programming'

#DB file name
db_name = 'final.sqlite'

con = sqlite3.connect(path + db_name)
#db close
con.close()

In [4]:
#connect to
con = sqlite3.connect(path + db_name)

#get object
cur = con.cursor()

#make table
create_table = 'CREATE TABLE baseball(name text, average int);'

#execute
cur.execute(create_table)

#commit prosessing
con.commit()

con.close()

In [5]:
#connect to
con = sqlite3.connect(path + db_name)

#get object
cur = con.cursor()

#make table
create = 'CREATE TABLE my(date int, average int);'

#execute
cur.execute(create)

#commit prosessing
con.commit()

#db close
con.close()

In [14]:
#delete table
con = sqlite3.connect(path + db_name)
## print(type(con))
# 2.SQLを実行するためのオブジェクトを取得
cur = con.cursor()
# 3.実行したいSQLを関数で用意する
create_table = 'DROP TABLE my'
# 4.SQLを実行する
cur.execute(create_table)
# 5．コミット処理（データ操作を反映させる）
con.commit()
# 6.DBを閉じるよ
con.close()

In [6]:
#connect to
con = sqlite3.connect(path + db_name)

#get object
cur = con.cursor()

#insert into 
insert_many = 'INSERT INTO baseball VALUES (?, ?);'

#prepare a list
average_list = [
    ("宮﨑敏郎",.326)
    ("西川龍馬",.305)
    ("サンタナ",.300)
    ("牧秀悟",.293)
    ("大島洋平",.289)
    ("大山悠輔",.288)
    ("坂本勇人",.288)
    ("近本光司",.285)
    ("中野拓夢",.285)
    ("大城卓三",.281)
    ("岡林勇希",.279)
    ("岡本和真",.278)
    ("秋山翔吾",.274)
    ("木浪聖也",.267)
    ("坂倉将吾",.266)
    ("佐野恵太",.264)
    ("佐藤輝明",.263)
    ("関根大気",.261)
    ("菊池涼介",.258)
    ("村上宗隆",.256)
    ("吉川尚輝",.256)
    ("オスナ",.253)
    ("細川成也",.253)
    ("桑原将志",.252)
    ("石川昂弥",.242)
    ("ノイジー",.240)
    ("長岡秀樹",.227)
    ("長岡秀樹",順)
] 

#execute
cur.executemany(insert_many, average_list)

#commit prosessing
con.commit()

#db close
con.close()

In [9]:
#connect to
con = sqlite3.connect(path + db_name)

#get object
cur = con.cursor()
# csv impport
import csv
from datetime import datetime
with open('my_average.csv', 'r', encoding='utf-8')as csv_file:
    dspro=csv.reader(csv_file)
#skip header
    next(dspro, None)

    for r in dspro:
        date_str = r[0]
        my_data = r[1]
        cur.execute('INSERT INTO my (date, average) VALUES (?, ?);',
                    )


#commit prosessing
con.commit()

#db close
con.close()

In [39]:
#create a list
average_list= []
name_list=[]
#scraping
import requests
import csv
r=requests.get("https://nf3.sakura.ne.jp/php/stat_disp/stat_disp.php?y=0&leg=0&tm=Sta&fp=0&dn=6&dk=0")


encoding=r.encoding
if encoding.lower() == 'iso-8859-1':
    r.encoding = 'utf-8'

from bs4 import BeautifulSoup
soup=BeautifulSoup(r.text, 'html.parser')

# print(soup)

tag=soup.find('table', class_="Base")
# print(tag)


for row in tag.find_all('tr')[1:]:
    all_list =[]
    columns=row.find_all('th')
    # print(columns)
    if columns:
        target_data1=columns[0].text
        average_list.append(target_data1)

    columns=row.find_all('td')
    if columns:
        target_data2=columns[1].text
        name_list.append(target_data2)
    all_list.append(target_data2)
    all_list.append(target_data1)
    # print(target_data2,)
    print(f'("{target_data2}",{target_data1})')

# print(all_list)
# print(average_list)
# print(name_list)

("宮﨑敏郎",.326)
("西川龍馬",.305)
("サンタナ",.300)
("牧秀悟",.293)
("大島洋平",.289)
("大山悠輔",.288)
("坂本勇人",.288)
("近本光司",.285)
("中野拓夢",.285)
("大城卓三",.281)
("岡林勇希",.279)
("岡本和真",.278)
("秋山翔吾",.274)
("木浪聖也",.267)
("坂倉将吾",.266)
("佐野恵太",.264)
("佐藤輝明",.263)
("関根大気",.261)
("菊池涼介",.258)
("村上宗隆",.256)
("吉川尚輝",.256)
("オスナ",.253)
("細川成也",.253)
("桑原将志",.252)
("石川昂弥",.242)
("ノイジー",.240)
("長岡秀樹",.227)
("長岡秀樹",順)